<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Modifier le mot de passe </h4>

            </div>

        </div>
        <div class="row">
            <br />
            <div class="col-md-6">
                <h4><strong> Modification : </strong></h4>
                <hr />

				<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
				    {{ form_widget(form) }}
				    <div>
				        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
				    </div>
				</form>
    	 </div>
            <div class="col-md-6">
                <br/>
                <br />
                <div class="alert alert-info">
                    <strong> Vous modifier votre profile ? </strong>
                    <br />
                    <em> Veuillez renseigner les champs à modifier <br />
                        Votre mot de passe vous sera demander à la fin afin de valider la (les) modification(s).</em>

                </div>
            </div>

        </div>
    </div>
</div>
